<div class='card-body main-spa'>
  <span style="text-align:right; display:block;"><button (click)='selectRandomComment()' id='winnerBtn'>Go To Winner</button></span><br />
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let comment of comments'>
          <td [attr.id]='comment.id' [attr.bgcolor]='comment.color' class='a-no-style'>{{ comment.message }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class='center'>
  <button *ngIf='prevLink' (click)='onPrev()'>Previous</button>
  <button *ngIf='nextLink' (click)='onNext()'>Next</button>
</div>
